.cart{
    max-width: 1000px;
    margin: auto;
}
.cart_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
    gap:20px;
}
.cart_product{
    width: 400px;
    height: 200px;
    border: 1px solid #aaa8;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.cart_product_title{
    font-size: 15px;
}
.cart_product_button{
    padding: 12px;
    background-color: #fa5555;
    color: white;
    font-size: 0.95rem;
    transition: filter 100ms ease;
    border-radius: 5px;
}