.product-info{
    width: 100%;
    max-width: 500px;
    padding: 20px;
}
.product-info__title{
    font-weight: 600;
    margin-bottom: 15px;
    color: rgb(61, 60, 60);
}
.product-info__description{
    font-size: 0.9rem;
    line-height: 1.5;
    margin-bottom: 35px;
    color: rgb(102, 102, 102);
}
.product-info__footer{
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}
.product-info__price-label, .product-info__quantity-label{
    font-weight: 500;
    font-size: 0.9rem;
    color: #aaa;
    margin-bottom: 5px;
}
.product-info__price-number{
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    gap: 5px;
    transform: translateX(10px);
}
.product-info__price-number::before{
    content: "$";
}
.counter{
    display: flex;
    border: 1px solid #aaa;
    width: max-content;
}
.counter__minus, .counter__plus, .counter__number{
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter__minus, .counter__plus{
    font-size: 1.3rem;
}
.counter__minus:hover, .counter__plus:hover{
    filter: brightness(0.9);

}
.counter__number{
    aspect-ratio: 1.5;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
}
.product-info__btn{
    grid-column: span 2;
    padding: 12px;
    background-color: #fa5555;
    color: white;
    font-size: 0.95rem;
    transition: filter 100ms ease;
    width: 100%;
}
.product-info__btn{
    filter: brightness(1.1);
    transition: filter 100ms ease;
}

/*contenedor padre y return*/

.productinfo_slice_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    /* border: 1px solid black; */
    justify-content: center;
}
.link_return_home{
    margin-top: 5%;
    padding: 50px;
}
.title_link_return_home{
    cursor: pointer;
    font-size: 20px;
    color: rgb(61, 60, 60);
}