/* slider */
.slider{
    position: relative;
    padding: 20px 50px;
    width: max-content ;
}
.slider_static{
    width: 100%;
    max-width: 450px;
    aspect-ratio: 1.5;
    overflow: hidden;
    /* border: 1px solid black; */
}
.slider_move{
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 500ms ease;
}   
.slider_img_container{
    width: calc(100% / 3);
    padding: 10px;
}

.slider__img{
    width: 90%;
    height: 100%;
    object-fit: contain;
}
/* botton slider */

.slider_prev, .slider_next{
    position: absolute;
    top: 35%;
    transform: translate(-50%);
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fa5555;
    color: white;
    cursor: pointer;
    z-index: 4;
    font-size: 20px;
}
.slider_prev{
    left: 6%;
}
.slider_next{
    right: 6%;
}
