.header{
    position: fixed;
    top:0;
    width: 100%;
    display: flex;    
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    padding-right: 10%;
    padding-left: 10%;
    background-color: white;
    z-index: 9;
    box-shadow: 0 0 10px rgb(163, 163, 163);
}
.header__title{
    margin-right: auto;
}
.header_link_title{
    text-decoration: none;
    color: rgb(241, 83, 83);
}
.header_list{
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    height: 100%;
}


.header_link{
    text-decoration: none;
    color: rgb(61, 60, 60);
}